<template>
    <form @submit.prevent="onSubmit">
        <div class="inputField">
            <div class="inputBox"></div>
            <input class="input" type="text" id="new-todo-item1" name="new-todo1" autocomplete="off" v-model="name"
                placeholder="Name....." /><br />
        </div>

        <div class="inputField">
            <div class="inputBox"></div>
            <select class="select" id="new-todo-item3" name="new-todo3" autocomplete="off" v-model="tag">
                <option value="Back-end">Back-end</option>
                <option value="Front-end-Logica">Front-end (logica)</option>
                <option value="Front-end-Styling">Front-end (styling)</option>
            </select>
        </div>

        <div class="inputField">
            <div class="inputBox"></div>
            <input class="input" type="text" id="new-todo-item2" name="new-todo2" autocomplete="off"
                v-model="description" placeholder="Description....." />
        </div>

        <input type="submit" hidden />
    </form>
</template>

<script>
export default {
    emits: ['todo-added'],
    methods: {
        onSubmit() {
            if (this.name === "") {
                return;
            } else if (this.description === "") {
                return;
            } else if (this.tag === "") {
                return;

            }
            this.$emit('todo-added', this.name, this.description, this.tag);
            this.name = "";
            this.description = "";
            this.tag = "";
        }

    },
    data:() => ({
            name: "",
            description: "",
            tag: "",
        }),
    };
</script>