<template>
    <div class="todoList">
        <label class="label-area todoLabel" :for="id">{{name}}</label>

        <form @submit.prevent="updateDescription" class="description-area updateDescriptionForm">
            <input class="description-area updateDescription" v-model="current_description" :for="id" />
            <input type="submit" hidden />
        </form>

        <div class="round" @click.prevent="updateCheckbox">
            <input class="checkbox-area checkbox" type="checkbox" :id="`checkbox-${id}`" :checked="isDone" />
            <label :for="`checkbox-${id}`"></label>
        </div>

        <div class="description-area tagDiv">
            <label class="description-area tag" :for="id">{{tag}}</label>
        </div>
        <label class="description-area createTime" :for="id">{{created_at}}</label>
        <button class="description-area delete" @click="onClick"></button>

    </div>

</template>

<script>

export default {
    emits: ['deleting', 'checkboxUpdate'],
    props: {
        name: { required: true, type: String },
        description: { required: true, type: String },
        done: { default: false, type: Boolean },
        id: { required: true, type: Number },
        created_at: { required: true, type: String },
        tag: { required: true, type: String },
    },



    data() {
        return {
            isDone: this.done,
            newDescription: "",
            current_description: null,
            headers: {
                "TODO-APIKEY": process.env.VUE_APP_TODO_API_KEY
            }
        };
    },
    created() {
        this.current_description = this.description;
    },

    methods: {
        onClick() {
            this.$emit('deleting');
        },

        async updateCheckbox() {
            this.isDone = !this.isDone;

            await fetch(process.env.VUE_APP_API_URL + "/update", {
                method: "PUT",
                headers: this.headers,
                body: JSON.stringify({
                    'name': this.name,
                    'description': this.description,
                    'done': this.isDone,
                    'id': this.id,
                    'tag': this.tag
                })
            });

            this.$emit('checkboxUpdate');


        },

        async updateDescription() {

            await fetch(process.env.VUE_APP_API_URL + "/update", {
                method: "PUT",
                headers: this.headers,
                body: JSON.stringify({
                    'name': this.name,
                    'description': this.newDescription,
                    'done': this.isDone,
                    'id': this.id,
                    'tag': this.tag
                })
            });
            this.current_description = this.newDescription;
            this.newDescription = "";
        },

    },
};
</script>