$font: "Haas Grot Text R Web 65 Md", "Helvetica Neue", Helvetica, Arial, sans-serif;
$color-grey: rgb(213, 204, 204);
$color-white: white;
$font-color-dark: white;
$font-color-dark-grey: rgb(213, 204, 204);
$font-size: 17px;
$border-color: black;
$border-style: transparent;
$inline-block: inline-block;
$delete-color: rgb(255, 0, 0);
$margin-left: 19.5%;
$margin-right: 17.5%;
$inside-list-width: 300px;
$outside-list-width: 600px;
$full-width: 100%;
$full-height: 100%;
$check-width: 17px;
$check-height: 17px;
$todo-width: 1200px;
$todo-display: block;
$grid-columns: 0.1fr 3fr;
$grid-rows: 0.4fr 3.8fr;
$grid-gap: 0px 0px;
$grid-display: grid;
$text-align: left;
$margin-left-auto: auto;
$margin-right-auto: auto;
$margin-top-auto: auto;
$input-padding: 12px 20px;
$input-height: 50px;
$tag-size: 16px;

.input {
    width: $outside-list-width;
    height: $input-height;
    border: $border-style;
    padding: $input-padding;
    border-color: $border-color;
    margin: 8px 0;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #F6F6F6;
    font-family: $font;
    font-size: 16px;
    vertical-align: center;
    float: left;
    margin-left: 10px;
        &::placeholder {
            color: rgb(161, 158, 158);
            font-weight: 500;
        }
}

.tag {
    font-family: $font;
    font-size: $tag-size;
    background-color: $color-white;
    box-shadow: 0px 0.5px 0px rgb(207, 206, 206);
    border-radius: 8px;
    border: 1px solid rgb(228, 223, 223);
    border-width: 1px;
    color: rgb(87, 86, 86);
    padding: 4px;
}

.tagDiv {
    border-width: 1px;
    margin-top: auto;
    margin-left: 20px;
    margin-bottom: 30px; 
    

}

.select {
    width: $outside-list-width;
    height: 80px;
    border: $border-style;
    padding: $input-padding;
    border-color: $border-color;
    margin: 8px 0;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #F6F6F6;
    font-family: $font;
    font-size: 16px;
    vertical-align: center;
    float: left;
    margin-left: 10px;
}

.filter {
    width: 200px;
    height: 48px;
    border: 1px solid grey;
    padding: $input-padding;
    margin: 8px 0;
    margin-top: 5px;
    border-radius: 10px;
    background-color: $color-white;
    font-family: $font;
    font-size: 12px;
    box-shadow: 1px 1px 3px rgb(207, 206, 206);
}

.createTime {
    margin-top: $margin-top-auto;
    margin-left: $margin-left-auto;
    margin-bottom: 12px;
    margin-right: 50px;
}

.searchForm {
    width: 200px;
    height: $input-height;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: $color-white;
    margin-left: 20px;
    box-shadow: 1px 1px 3px rgb(207, 206, 206);
    float: right;
}

.todoList {
    display: $todo-display;
    width: $todo-width;
    height: 170px;
    border: $border-style;
    border-radius: 10px;
    margin-left: $margin-left-auto;
    margin-right: $margin-right-auto;
    box-shadow: 1px 1px 3px rgb(207, 206, 206);
    margin-top: 20px;
    background-color: $color-white;
    text-align: $text-align;
    display: $grid-display; 
    grid-template-columns: $grid-columns; 
    grid-template-rows: $grid-rows;  
    gap: $grid-gap; 
    grid-template-areas: 
        "checkbox-area label-area"
        "checkbox-area description-area";
}

.checkbox-area { 
    grid-area: checkbox-area; 
}

.label-area { 
    grid-area: label-area; 
}

.description-area { 
    grid-area: description-area; 
}

.round {
    position: relative;
    margin-top: 17px;
    width: $check-width;
    height: $check-height;
    margin-left: $margin-left-auto;
    margin-top: 25px;
    border-radius: 5px;
    border: 1px solid rgb(222,222,222);
    box-shadow: 0px 0.5px 0px rgb(207, 206, 206);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

    label {
        background-color: #fff;
        border: 1px solid rgb(222,222,222);
        box-shadow: 0px 0.5px 0px 0.5px rgb(207, 206, 206);
        border-radius: 5px;
        cursor: pointer;
        width: $check-width;
        height: $check-height;
        margin-left: auto;
        left: 0;
        position: absolute;
        top: 0;
        &:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 5px;
            left: 3px;
            opacity: 0;
            position: absolute;
            top: 4px;
            transform: rotate(-45deg);
            width: 10px;
        }
    }
    input[type="checkbox"] {
        visibility: hidden;
        &:checked + label {
          background-color: #66bb6a;
          border-color: #66bb6a;
          &:after {
            opacity: 1;
          }
        }
    }

}

.delete {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: $border-style;
    background-image: url("trash.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: $margin-left-auto;
    margin-top: $margin-top-auto;
    margin-bottom: 10px;
    margin-right: 20px;
}

.updateDescription {
    width: 800px;
    height: 60px;
    text-align: left;
    border-radius: 10px;
    border: $border-style;
    margin-left: 10px;
    color: grey;
    font-size: 15px;
}

.inputBox {
    border: 1px solid rgb(228, 223, 223);
    width: $check-width;
    height: $check-height;
    border-radius: 5px;
    box-shadow: 0px 0.5px 0px 0.5px rgb(207, 206, 206);
    background-color: $color-white;
    vertical-align: center;
    float: left;
    margin-top: 30px;
}

.inputField {
    width: 800px;
    height: 100px;
    margin-left: 20.6%;
    text-align: center;
}

.updateDescriptionForm {
    width: $inside-list-width;
    height: 60px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10px;
    border-width: 1px; 
}

.todoLabel {
    display: $inline-block;
    margin-top: 25px;
    font-family: $font;
    font-size:$font-size;
    font-weight: 600;
    margin-left: 20px;
    margin-right: $margin-right-auto;
    color: rgb(26,25,25);
}

.buttonDiv {
    margin-left: $margin-left;
    margin-right: $margin-right;

   .button {
        padding: 1%;
        background-color: $color-white;
        box-shadow: 1px 1px 3px rgb(207, 206, 206);
        border-radius: 10px;
        border-color: grey;
        border-width: 1px;
        margin-top: 10px;
        margin-right: 10px; 
    } 

    .filter {
        width: 200px;
        height: 48px;
        border: 1px solid grey;
        padding: $input-padding;
        margin: 8px 0;
        margin-top: 5px;
        border-radius: 10px;
        background-color: $color-white;
        font-family: $font;
        font-size: 12px;
        box-shadow: 1px 1px 3px rgb(207, 206, 206);
        float: right;
    }

    .searchForm {
        width: 200px;
        height: 48px;
        border: 1px solid grey;
        border-radius: 10px;
        background-color: $color-white;
        box-shadow: 1px 1px 3px rgb(207, 206, 206);
        margin-right: 10px;
        margin-left: 20px;
        margin-top: 5px;
        float: right;
    }

}


.app {
    position:fixed;
    top:0;
    left:0;
    overflow-y:scroll;
    width: $full-width;
    height: $full-height;
    background-color: #F6F6F6;
}

.toggle {
    margin-left: $margin-left;
}

.toggleSwitch {
    font-size: 25px;
    font-family: $font;
    color: #545454;
}

li {
    list-style: none;
  }

.titel {
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-left: $margin-left;
    font-family: $font;
}

h2 {
    color: #927963;
    font-size: 50px;
}

.dark{
    .app {
        position:fixed;
        top:0;
        left:0;
        overflow-y:scroll;
        width: $full-width;
        height: $full-height;
        background-color: #242421;
    } 

    .tag {
        width: 98px;
        height: 10px;
        font-family: $font;
        font-size: $tag-size;
        padding: 1%;
        background-color: $color-grey;
        box-shadow: none;
        border-radius: 10px;
        border: 1px solid grey;
        border-width: 1px;
        margin-top: auto;
        margin-left: 20px;
        margin-bottom: 6px; 
        text-align: center;
    }

    .select {
        width: 640px;
        height: 78px;
        border: $border-style;
        padding: $input-padding;
        border-color: $border-color;
        margin: 8px 0;
        margin-top: 5px;
        border-radius: 5px;
        background-color: $color-grey;
        font-family: $font;
        font-size: 16px;
        vertical-align: center;
        float: left;
        margin-left: 10px;
    }

    .buttonDiv {
        margin-left: $margin-left;
        margin-right: $margin-right;
    
       .button {
            padding: 1%;
            background-color: $color-grey;
            box-shadow: none;
            border-radius: 10px;
            border-color: grey;
            border-width: 1px;
            margin-top: 10px;
            margin-right: 10px; 
        } 
    
        .filter {
            width: 200px;
            height: 48px;
            border: 1px solid grey;
            padding: $input-padding;
            margin: 8px 0;
            margin-top: 5px;
            border-radius: 10px;
            background-color: $color-grey;
            font-family: $font;
            font-size: 12px;
            box-shadow: none;
            float: right;
        }
    
        .searchForm {
            width: 200px;
            height: 48px;
            border: 1px solid grey;
            border-radius: 10px;
            background-color: $font-color-dark-grey; 
            box-shadow: none;
            margin-right: 10px;
            margin-left: 20px;
            margin-top: 5px;
            float: right;

        }
    }
    
    .inputBox {
        border: 1px solid;
        width: $check-width;
        height: $check-height;
        border-radius: 5px;
        box-shadow: none;
        background-color: $color-grey;
        vertical-align: center;
        float: left;
        margin-top: 30px;
    }
    
    .inputField {
        width: 800px;
        height: 100px;
        margin-left: $margin-left;
        text-align: center;
    }

    .titel {
        color: black;
        font-size: 40px;
        font-weight: bold;
        margin-left: $margin-left;
        font-family: $font;
    }
    
    .input {
        width: $outside-list-width;
        height: $input-height;
        border: $border-style;
        padding: $input-padding;
        border-color: $border-color;
        margin: 8px 0;
        margin-top: 5px;
        border-radius: 5px;
        background-color: $color-grey;
        font-family: $font;
        font-size: 16px;
        vertical-align: center;
        float: left;
        margin-left: 10px;
    }
    
    .updateDescriptionForm {
        width: $inside-list-width;
        height: 60px;
        margin-left: 10px;
        margin-right: 20px;
        border-radius: 10px;
        border-width: 1px; 
    }

    .todoList {
        display: $todo-display;
        width: $todo-width;
        height: 170px;
        border: $border-style;
        border-radius: 10px;
        margin-left: $margin-left-auto;
        margin-right: $margin-right-auto;
        box-shadow: none;
        margin-top: 20px;
        background-color: rgb(59, 56, 56);
        text-align: $text-align;
        display: $grid-display; 
        grid-template-columns: $grid-columns; 
        grid-template-rows: $grid-rows;  
        gap: $grid-gap; 
        grid-template-areas: 
            "checkbox-area label-area"
            "checkbox-area description-area";
    }
    
    .searchForm {
        width: $outside-list-width;
        height: $input-height;
        border: $border-style;
        border-radius: 10px;
        margin-left: $margin-left;
        margin-right: $margin-right-auto;
        background-color: $font-color-dark-grey; 
    }
    
    .updateDescription {
        width: 800px;
        height: 80px;
        text-align: left;
        border-radius: 10px;
        border: $border-style;
        color: white;
        background-color: rgb(59, 56, 56); 
        margin-left: 10px

    }
    
    .delete {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: $border-style;
        background-image: url("trash.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: $margin-left-auto;
        margin-top: $margin-top-auto;
        background-color: rgb(59, 56, 56);
        margin-bottom: 10px;
        margin-right: 20px;
    }
    
    .checkbox {
        margin-top: 17px;
        width: $check-width;
        height: $check-height;
        margin-left: $margin-left-auto;
        margin-right: $margin-right-auto;
        margin-top: 25px;
        accent-color: #176730;
    }
    
    .createTime {
        margin-top: $margin-top-auto;
        margin-left: $margin-left-auto;
        margin-bottom: 12px;
        margin-right: 50px;
        color: $font-color-dark-grey; 
    }
    
    .todoLabel {
        display: $inline-block;
        margin-top: 25px;
        font-family: $font;
        font-size:$font-size;
        font-weight: bold;
        margin-left: 20px;
        margin-right: $margin-right-auto;
        color: $font-color-dark;
    }

    .toggleSwitch {
        font-size: 25px;
        font-family: $font;
        color: $font-color-dark-grey;
    }
} 

.switch {
    position: relative;
    display: $inline-block;
    width: 60px;
    height: 34px;
    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-white;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: rgb(105, 90, 90);
        -webkit-transition: .4s;
        transition: .4s;
    }
}
  
.slider.rounded {
    border-radius: 34px;
    &:before {
        border-radius: 50%;
    }
}

input {
    &:checked {
        + {
            .slider {
                background-color: #383F47;
                &:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }
        }
    }
}