<template>
  <div class="container" :class="mode">
    <div class="app" :class="mode">
      <h1 class="titel" :class="mode">ToDo List</h1>


      <div class="toggle">
        <h1 class="toggleSwitch" :class="mode">Toggle Dark mode</h1>
        <label class="switch">
          <input type="checkbox" @change="toggle">
          <span class="slider rounded"></span>
        </label>
      </div>

      <toDoForm @todo-added="addToDo"></toDoForm>

      <div class="buttonDiv">
        <button class="button" :class="mode" @click.prevent="changeStatus(true)">Finished Items</button>
        <button class="button" :class="mode" @click.prevent="changeStatus(false)">Unfinished Items</button>
        <button class="button" :class="mode" @click.prevent="getAll()">All Items</button>
        <!-- changeStatus('') -->
        <select class="filter" :class="mode" id="new-todo-item3" name="new-todo3" autocomplete="off" v-model="this.tag"
          @change.prevent="changeTag(this.tag)">
          <option value="Back-end">Back-end</option>
          <option value="Front-end-Logica">Front-end (logica)</option>
          <option value="Front-end-Styling">Front-end (styling)</option>
        </select>
        <input class="searchForm" :class="mode" type="text" v-model="this.input" @input="searchInItems"
          placeholder="Search ToDo Items....." />
      </div>
      <ul>

        <div v-if="filteredList.length > 0">
          <li v-for="(item, index) in filteredList" :key="item.id">
            <to-do-item :name="item.name" :description="item.description" :done="item.done" :id="item.id"
              :created_at="item.created" :tag="item.tag" @deleting="deleteItem(item.id, key)"
              @checkboxUpdate="updateCheckbox(index, item.done)">

            </to-do-item>

          </li>
        </div>

        <div v-else>
          <li v-for="(item, index) in toDoItems" :key="item.id">
            <to-do-item :name="item.name" :description="item.description" :done="item.done" :id="item.id"
              :created_at="item.created" :tag="item.tag" @deleting="deleteItem(item.id, key)"
              @checkboxUpdate="updateCheckbox(index, item.done)">
            </to-do-item>

          </li>
        </div>
      </ul>
    </div>
  </div>
</template>

<script>
import toDoItem from "./components/ToDoItem.vue";
import toDoForm from "./components/ToDoForm.vue";

export default {
  name: "app",
  components: {
    toDoItem,
    toDoForm,
  },

  async mounted() {

    const response = await fetch(process.env.VUE_APP_API_URL + "/get", {
      method: "GET",
      headers: this.headers
    });

    if (!response.ok) {
      const error = (data && data.message) || response.statusText;
      return Promise.reject(error);
    }

    const data = await response.json();

    data.forEach(item => {
      item.done = Boolean(item.done);
    })

    this.toDoItems = data

  },

  data() {
    return {
      toDoItems: [],
      filteredList: [],
      filteredItem: [],
      input: "",
      tag: "",
      done: '',
      mode: '',
      headers: {
        "TODO-APIKEY": process.env.VUE_APP_TODO_API_KEY
      },
    };
  },

  methods: {

    updateCheckbox(index, done) {
      console.log(index, done, this.toDoItems);

      this.toDoItems[index].done = !this.toDoItems[index].done

    },

    toggle() {
      if (this.mode === 'dark') {
        this.mode = ''
      } else {
        this.mode = 'dark'
      }
    },

    async addToDo(toDoName, toDoDescription, toDoTag) {

      await fetch(process.env.VUE_APP_API_URL + "/create", {
        method: "POST",
        headers: this.headers,
        body: JSON.stringify({
          'name': toDoName,
          'description': toDoDescription,
          'done': false,
          'tag': toDoTag,
        })
      });
      this.getAll()

    },

    searchInItems() {
      this.filteredList = []
      this.toDoItems.filter((item) => {
        if (item.name.toLowerCase().includes(this.input.toLowerCase())) {
          this.filteredList.push(item)
        }
      });
    },

    filterItems() {
      this.filteredList = []
      this.toDoItems.filter((item) => {
        console.log(this.tag, item.tag)
        if (item.tag.toLowerCase() === this.tag.toLowerCase() && this.done === '') {
          this.filteredList.push(item)
        } else if (item.tag.toLowerCase() === this.tag.toLowerCase() && item.done === this.done) {
          this.filteredList.push(item)
        }
      });
    },

    changeStatus(status) {
      if (status === '') {
        this.done = ''
      } else {
        this.done = status;
      }

      this.filterItems();
    },

    changeTag(tag) {

      if (tag === 'Back-end') {
        this.tag = tag
      }
      else if (tag === 'Front-end-Logica') {
        this.tag = tag
      }
      else if (tag === 'Front-end-Styling') {
        this.tag = tag
      }

      this.filterItems();
    },

    async getAll() {

      const response = await fetch(process.env.VUE_APP_API_URL + "/get", {
        method: "GET",
        headers: this.headers
      });

      if (!response.ok) {
        const error = (data && data.message) || response.statusText;
        return Promise.reject(error);
      }

      const data = await response.json();

      data.forEach(item => {
        item.done = Boolean(item.done);
      })

      this.toDoItems = data

    },

    async deleteItem(id) {

      await fetch(process.env.VUE_APP_API_URL + "/delete/" + id, {
        method: "DELETE",
        headers: this.headers,
      });

      let i = this.toDoItems.map(item => item.id).indexOf(id)
      this.toDoItems.splice(i, 1)
    },

  },
};
</script>

